html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.icon-rightArow:hover {
  border: 1px solid #48576d;
  border-radius: 50px;
}

.icon-elippse:hover {
  stroke: #ffffff;
  fill: #ffffff;
  border: 1px solid #48576d;
}

.exampleCarousel1 {
  align-items: center;
}

.swiper-slide {
  transition: all 200ms linear !important;
}

.swiper-slide.swiper-3d.swiper-slide-active {
  height: 412px !important;
  transition: transform 0.2s;
  /* opacity: 1 !important; */
  filter: brightness(110%) !important;
  width: 241px !important;
}

.swiper-wrapper {
  align-items: center !important;
  width: 241px !important;
}

.swiper-3d .swiper-wrapper {
  margin-left: -250px !important;
}

::-webkit-scrollbar {
  width: 8px !important;
  height: 10px !important;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #8190a7;
  height: 10px !important;
  border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* handle menu video360 */

.menu-select-room-number-video360
  .css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
  box-shadow: none;
  margin-top: -8px;
}

.menu-select-room-type-video360
  .css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
  box-shadow: none;
  margin-top: -8px;
  left: 1200px !important;
}

/* handle input text-field quanva@gmail.com */

.custom-wrapper-introducer-code .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  display: none;
}

.custom-wrapper-introducer-code
  .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 8px 12px;
  font-size: 18px;
  font-family: "Roboto";
  font-style: normal;
}

.custom-input-money-inactive
  .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 8px 46px;
}

.custom-input-money-inactive
  .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  color: currentColor;
}

.custom-input-money-inactive
  .css-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-checked {
  color: #fec83c;
}

.custom-card-checkbox-payment
  .css-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-checked {
  color: #fec83c;
}

.custom-card-checkbox-payment .css-j204z7-MuiFormControlLabel-root {
  width: 100%;
}

.custom-input-base-form-control
  .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000;
}

.custom-billing-information
  .css-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-checked {
  color: #fec83c;
}

/* Icon hover */

.icon-batdongsan-hover:hover .icon-bds-hover {
  fill: #fec83c !important;
}

.icon-canho-hover:hover .icon-ch-hover {
  fill: #fec83c !important;
}

.icon-chungcu-hover:hover .icon-cc-hover {
  fill: #fec83c !important;
}

.icon-khudothi-hover:hover .icon-kdt-hover {
  fill: #fec83c !important;
}

#pj-infor:hover {
  background: #FEC83C;
  color: #FFFFFF;
  border: none;
}